.flex-container {
    display: flex;
    width:600px;
    flex: 1;
    //border: 2px solid black;
    margin-bottom: 1em;
}

.flex-header {
    flex: 0 0 7em;
    //border: 2px solid red;
}  

.flex-element {
    flex: 1;
    //border: 2px solid blue;
}  



.alert{
font-weight: bold;
} 
.alert-danger{

} 

.form-danger{
    color: red;

}

.downPaymentPercentageCss{

    width: 5rem;
}

.downPaymentPercentageContainer{
    padding-right: 20px;
}

.downPaymentPercentageContainer:after {
    content: "\0025";
    margin-left: -25px;
    margin-right: 25px;
    padding-left: 6px;
}



